h1 {
  font-size: 1.5vh;
}

a {
  font-size: 1.2vh;
}

p {
  font-size: 1.2vh;
}

button {
  font-size: 1.2vh;
  height: 4vh;
}

.company-block {
  height: 40vh;
}

.input-login input {
  height: 4vh;
}

#index-registration {
  height: 4vh;
}